.burger {
    width: 100%;
    height: 250px;
    margin: auto;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    overflow-y: scroll;
}

@media (min-width:500px) and (min-height:400px) {
    .burger {
        width: 350px;
        height: 300px;
    }
}

@media (min-width:500px) and (min-height:401px) {
    .burger {
        width: 450px;
        height: 400px;
    }
}

@media (min-width:1000px) and (min-height:700px) {
    .burger {
        width: 700px;
        height: 600px;
    }
}