.Toolbar{
    height: 56px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    background-color: #703B09;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;;
}

.Toolbar nav {
    height: 100%;
    
}

.Logo {
    height: 80%;
}

@media(max-width: 499px) {
    .DesktopOnly{
        display: none;
    }
}