.NavigationItem {
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

.NavigationItem a {
    color: #8F5c2c;
    height: 100%;
    padding: 10px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
    text-decoration: none;
}

.NavigationItem a:active,
.NavigationItem a:hover,
.NavigationItem a.active {
    color: #40A4C8;
}

@media(min-width: 500px) {
    .NavigationItem {
        margin: 10px 0;
        display: block;
        align-items: center;
        width: 100%;
    }
    
    .NavigationItem a {
        color: #fff;
        Height: 100%;
        width: auto;
        padding: 16px 10px;
    }
    
    .NavigationItem a:active,
    .NavigationItem a:hover,
    .NavigationItem a.active {
        background-color: #8F5C2C;
        border-bottom: 4px solid #40A4C8;
        color: #fff;
    }
}