.NavigationItems {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
    align-items: center;
    height: 100%;;
}

@media (min-width: 500px ) {
    .NavigationItems {
        display: flex;
    }
}